.logo {
  @include font(600, 28px, 30px);
  text-transform: uppercase;
  font-style: normal;
  display: inline-block;
  letter-spacing: 0.08em;
}

@include for-size(phone-only) {
  .logo {
    @include font(null, 20px, 24px);
  }
}