.comments {
  overflow: hidden;
  margin-bottom: 200px;
  &__button-slider {
    width: 44px;
    height: 44px;
    border-radius: unset;
    border: none;
    background-color: $color-light-gray;
    &--active {
      background-color: $color-primary;
      color: white;
    }
  }
  .dot {
    margin-left: auto;
    width: auto;
    &__list {
      display: flex;
      font-size: 20px;
      gap: 20px;
      color: $color-light-gray;
      .dot__item--active {
        color: $color-primary;
      }
    }
    .swiper-pagination-bullet-active {
      background: $color-primary;
    }
  }
  .comments__slider {
    display: flex;
    width: 1570px;
    margin-bottom: 60px;
    .comment {
      width: 23.57%;
      box-shadow: 0 0 30px rgba(13, 107, 106, 0.1);
      padding: 40px;
      &__header {
        display: flex;
        align-items: center;
        gap: 20px;
        .comment__user {
          @include font(600, 18px, 20px);
          margin-bottom: 3px;
        }
        .comment__job {
          color: $color-gray;
          @include font(500, 14px, 16px);
        }
      }
      &__body {
        .comment__note {
          color: $color-dark-gray;
          margin: 1em 0;
          @include font(500, 16px, 20px)
        }
        .comment-star {
          color: $color-primary;
        }
      }
    }
  }
}

@include for-size(phone-only) {
  .comments {
    padding: 0 16px;
    margin-bottom: 80px;
    .dot {
      display: none;
    }
    .comments__slider {
      margin-bottom: 40px;
    }
    .comments__buttons-slider {
      display: flex;
      justify-content: center;
      gap: 16px;
    }
  }
}

@include for-size(tablet-portrait-up) {
  .comments {
    padding: 0 16px;
  }
}

@include for-size(tablet-landscape-up) {
  .comments {
    padding: 0 16px;
  }
}

@include for-size(desktop-up) {}