.footer {
  background-color: $color-primary;
  padding: 50px 0 70px;
  color: white;

  .line {
    height: 280px;
    background-image: url("/01/img/line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding-top: 50px;
    .footer__note {
      @include font(500, 14px, 20px);
      width: 770px;
      text-align: center;
      color: $color-light-gray;
      margin: 30px auto 50px;
    }
    .social-icons {
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 10px;
      &__img {
        height: 48px;
      }
    }
  }
  .nav {
    margin: 40px 0 70px;
    .nav__link {
      color: white;
      &:hover {
        color: $color-gray;
      }
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cantact {
      width: 570px;
      @extend .info;
      &__title {
        @include font(500, 14px, 16px);
        color: $color-light-gray;
        display: block;
        margin-bottom: 4px;
      }
      &__type {
        @include font(600, 18px, 20px);
      }
      .call {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    .copy-right {
      @include font(500, 16px, 20px);
      color: $color-light-gray;
    }
  }
}

@include for-size(phone-only) {
  .footer {
    padding: 20px 0 40px;
    .line-small {
      background-image: url("/01/img/line.svg");
      background-repeat: no-repeat;
      background-size: contain;
      padding: 4em 0 0;
    }
    .line {
      .footer__note {
        width: 100%;
        margin: 24px auto 32px;
        padding: 0 16px;
      }
    }
    .nav {
      margin: 2em 0 30px;
      &__menu {
        gap: 20px;
        align-items: center;
        .nav__link {
          padding: 0;
        }
      }
    }
    .info {
      flex-direction: column;
      gap: 40px;
      .cantact {
        flex-direction: column;
        .call {
          flex-direction: column;
          gap: 10px;
        }
        &__details {
          text-align: center;
        }
      }
      .copy-right {
        margin: 40px auto;
      }
    }
  }
}

@include for-size(tablet-portrait-up) {
  .footer {
    padding: 20px 0 40px;
    .line-small {
      background-image: url("/01/img/line.svg");
      background-repeat: no-repeat;
      background-size: contain;
      padding: 4em 0 0;
    }
    .line {
      .footer__note {
        width: 100%;
        margin: 24px auto 32px;
        padding: 0 16px;
      }
    }
    .nav {
      margin: 2em 0 30px;
      &__menu {
        gap: 20px;
        align-items: center;
        .nav__link {
          padding: 0;
        }
      }
    }
    .info {
      flex-direction: column;
      gap: 40px;
      .cantact {
        flex-direction: column;
        .call {
          flex-direction: column;
          gap: 10px;
        }
        &__details {
          text-align: center;
        }
      }
      .copy-right {
        margin: 40px auto;
      }
    }
  }
}

@include for-size(tablet-landscape-up) {
  .footer {
    padding: 20px 0 40px;
    text-align: center;
    .line-small {
      background-image: url("/01/img/line.svg");
      background-repeat: no-repeat;
      background-size: contain;
      padding: 4em 0 0;
    }
    .line {
      .footer__note {
        width: 100%;
        margin: 24px auto 32px;
        padding: 0 16px;
      }
    }
    .nav {
      margin: 2em 0 30px;
      &__menu {
        gap: 20px;
        align-items: center;
        .nav__link {
          padding: 0;
        }
      }
    }
    .info {
      flex-direction: column;
      gap: 40px;
      .cantact {
        flex-direction: column;
        .call {
          flex-direction: column;
          gap: 10px;
        }
        &__details {
          text-align: center;
        }
      }
      .copy-right {
        margin: 40px auto;
      }
    }
  }
}

@include for-size(desktop-up) {}