.header {
  background-image: url("/01/img/bg-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4.75em;
  margin-bottom: 200px;
  &__btn-menu {
    display: none;
  }
  .phone-menu {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    .btn {
      @include font(400, 14px, 16px);
    }
  }
  &__content {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    .header__note {
      width: 50%;
      display:flex ;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      .header__title {
        @include font(700, 80px, 100px);
        text-transform: capitalize;
        .header__char-title {
          color: $color-primary;
        }
      }
      .header__text {
        color: $color-dark-gray;
        @include font(500, 18px, 24px);
      }
      .btn {
        @include font(400, 20px, 24px);
        gap: 30px;
        padding-left: 48px;
        padding-right: 48px;
        text-transform: uppercase;
      }
    }
    .header__section-img {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      &:before {
        content: '';
        background-color: $color-primary;
        transform: translate(270px,-32px);
        padding: 107px 148px;
      }
      .header__img {
        width: 470px;
        height: 484px;
        z-index: 1;
      }
    }
  }
}

@keyframes open {
  from {left: -288px}
  to {left: 0}
}
@keyframes close {
  from {left: 0}
  to {left: -288px}
}

@include for-size(phone-only) {
  .header {
    background-image: none;
    padding-bottom: 0;
    margin-bottom: 80px;
    &__btn-menu {
      display: flex;
      background-image: url("/01/img/bg-header.svg");
      padding: 8px;
    }
    .navbar {
      display: none;
    }
    .phone-menu {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.72);
      z-index: 99;
      .navbar {
        width: 288px;
        height: 100%;
        position: absolute;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        left: -288px;
        &__btn-menu {
          height: 40px;
        }
        &-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-image: url("/01/img/bg-header.svg");
          padding: 6px 6px 16px 6px;
          width: 100%;
          .logo {
            @include font(null, 20px, 24px);
          }
        }
        .btn {
          width: 100%;
          margin-top: auto;
        }
      }
    }
    &__content {
      flex-direction: column;
      padding: 0 16px;
      margin: 2em auto;
      gap: 30px;
      .header__note {
        width: 100%;
        gap: 25px;
        margin-bottom: 20px;
        .header__title {
          @include font(null, 48px, 50px);
        }
        .header__text {
          @include font(null, 16px, 20px);
        }
        .btn {
          @include font(null, 18px, null);
          padding: 8px 16px;
          gap: 16px;
        }
      }
      .header__section-img {
        width: 100%;
        &:before {
          transform: translate(342px, 55px);
          padding: 114px 178px;
        }
        .header__img {
          z-index: 1;
          width: 328px;
          height: 338px;
        }
      }
    }
  }
}

@include for-size(tablet-portrait-up) {
  .header {
    background-image: none;
    padding-bottom: 0;
    margin-bottom: 80px;
    &__btn-menu {
      display: flex;
      background-image: url("/01/img/bg-header.svg");
      padding: 16px 8px;
    }
    .navbar {
      display: none;
    }
    .phone-menu {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.72);
      z-index: 99;
      .navbar {
        width: 288px;
        height: 100%;
        position: absolute;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        left: -288px;
        &__btn-menu {
          height: 40px;
        }
        &-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-image: url("/01/img/bg-header.svg");
          padding: 6px 6px 16px 6px;
          width: 100%;
          .logo {
            @include font(null, 20px, 24px);
          }
        }
        .btn {
          width: 100%;
          margin-top: auto;
        }
      }
    }
    &__content {
      padding: 0 16px;
      .header__note {
        width: 40%;
        gap: 20px;
        .header__title {
          @include font(null, 40px, 60px);
        }
        .header__text {
          @include font(null, 16px, 20px);
        }
        .btn {
          @include font(null, 18px, null);
          padding: 8px 16px;
          gap: 16px;
        }
      }
      .header__section-img {
        width: 40%;
        &::before {
          transform: translate(200px, -25px);
          padding: 77px 110px;
        }
        .header__img {
          width: 330px;
          height: 344px;
        }
      }
    }
  }
}

@include for-size(tablet-landscape-up) {
  .header {
    .container {
      padding: 0 16px;
      .header__content {
        .header__note {
          gap: 22px;
          .header__title {
            @include font(null, 60px, 80px);
          }
        }
        .header__section-img {
          &::before {
            transform: translate(257px, -27px);
            padding: 98px 140px;
          }
          .header__img {
            width: 400px;
            height: 414px;
          }
        }
      }
    }
  }
}

@include for-size(desktop-up) {
  .header {
    .container {
      padding: 0;
    }
  }
}