.nav {
  display: inline-block;
  &__menu {
    list-style-type: none;
    display: flex;
    gap: 50px;
    .nav__link {
      color: black;
      @include font(500, 18px, 20px);
      &:hover {
        color: $color-primary;
      }
    }
  }
}

@include for-size(phone-only) {
  .nav {
    display: block;
    margin-top: 8px;
    width: 100%;
    &__menu {
      flex-direction: column;
      gap: 0;
    }
    .nav__link {
      @include font(null, null, 40px);
      padding-left: 16px;
    }
  }
}

@include for-size(tablet-portrait-up) {
  .nav {
    display: block;
    margin-top: 8px;
    width: 100%;
    &__menu {
      flex-direction: column;
      gap: 0;
    }
    .nav__link {
      @include font(null, null, 40px);
      padding-left: 16px;
    }
  }
}

@include for-size(tablet-landscape-up) {
  .nav {
    &__menu {
      gap: 30px;
    }
  }
}

@include for-size(desktop-up) {

}