.nav {
  display: inline-block;
  .nav__menu {
    list-style-type: none;
    display: flex;
    gap: 50px;
    .nav__link {
      color: black;
      @include font(500, 18px, 20px);
      &:hover {
        color: $color-primary;
      }
    }
  }
}