.team-unit {
  margin-bottom: 11em;
  &__content {
    background-color: $color-primary;
    color: white;
    display: flex;
  }
  &__co-worker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 45px;
    width: 468px;
    .team-unit__number {
      background-image: url("/01/img/6.png");
      background-repeat: no-repeat;
      height: 220px;
      width: 172px;
    }
    .team-unit__text {
      @include font(600, 28px, 32px);
    }
  }
  &__persons {
    width: 702px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .person {
      width: 234px;
      height: 234px;
      position: relative;
      &__img {
        width: 100%;
      }
      &__name {
        @include font(600, 18px, 20px);
      }
      &__job {
        @include font(500, 14px, 16px);
      }
      &__details {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 9em 10em 0 1.5em;
        background-color: $color-primary;
        opacity: 0;
        transition: all 0.3s ease;
      }
      &:hover {
        .person__details {
          opacity: 0.6;
        }
      }
    }
  }
}