.team-unit {
  margin-bottom: 200px;
  &__content {
    background-color: $color-primary;
    color: white;
    display: flex;
  }
  &__co-worker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 45px;
    max-width: 40%;
    .team-unit__number {
      background-image: url("/01/img/6.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 172px;
      height: 220px;
    }
    .team-unit__text {
      @include font(600, 28px, 32px);
    }
  }
  &__persons {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    .person {
      max-width: 234px;
      max-height: 234px;
      position: relative;
      &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &__name {
        @include font(600, 18px, 20px);
        width: 50%;
      }
      &__job {
        @include font(500, 14px, 16px);
      }
      &__details {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 140px 0 0 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: $color-primary;
        opacity: 0;
        transition: all 0.3s ease;
      }
      &:hover {
        .person__details {
          opacity: 0.6;
        }
      }
    }
  }
}

@include for-size(phone-only) {
  .team-unit {
    margin-bottom: 80px;
    padding: 0 16px;
    &__content {
      flex-direction: column;
      .team-unit__co-worker {
        max-width: 100%;
        padding: 0;
        .team-unit__number {
          background-size: contain;
          width: 40%;
          margin: 30px 0 0 30px;
        }
        .team-unit__text {
          @include font(null, 24px, null);
          padding: 0 16px 30px;
        }
      }
      .team-unit__persons {
        max-width: 100%;
        justify-content: flex-start;
        .person {
          width: 164px;
          height: 164px;
          &__details {
            padding: 85px 0 0 20px;
          }
          &__name {
            @include font(600, 16px, 18px);
          }
          &__job {
            @include font(500, 12px, 14px);
          }
        }
      }
    }
  }
}

@include for-size(tablet-portrait-up) {}

@include for-size(tablet-landscape-up) {}

@include for-size(desktop-up) {}