@mixin font($weight:null, $size:null, $line:null) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}

@mixin flex($flex: flex, $justify:null, $align:null, $direction: null) {
  display: $flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}