.phone {
  .container {
    position: relative;
    .phone__img {
      position: absolute;
      right: 0;
      top: -230px;
    }
  }
}
.phone-form {
  width: 74%;
  display: inline-block;
  padding: 60px;
  padding-bottom: 80px;
  box-shadow: -10px 10px 50px rgba(13, 107, 106, 0.08);
  background-color: white;
  z-index: 1;
  position: relative;
  margin: 4.7em 0 200px;
  .title {
    margin-bottom: 6em;
    &__text {
      width: 530px;
      position: relative;
      top: 20px;
    }
  }
  &__group {
    @include flex(flex);
    gap: 4px;
  }
  &__input {
    flex-grow: 1;
    border: 1px solid $color-light-gray;
    border-radius: unset;
    padding: 16px 32px;
    @include font(500, 20px, 24px);
    &::placeholder {
      color: $color-gray;
    }
    &:focus {
      outline: none;
    }
  }
  &__btn {
    @include font(400, 20px, 24px);
    gap: 30px;
    padding: 16px 33px;
  }
}

@include for-size(phone-only) {
  .phone {
    width: 100%;
    .container {
      padding: 0 16px;
      .phone__img {
        display: block;
        position: absolute;
        width: 100%;
        right: 0;
        top: -100px;
        padding: 0 16px;
      }
      .phone-form {
        width: 100%;
        padding: 20px;
        margin: 10em 0 80px;
        .title {
          margin-bottom: 40px;
          &__text {
            width: 100%;
          }
        }
        &__group {
          flex-direction: column;
          gap: 16px;
        }
        &__input {
          padding: 10px 16px;
          @include font(null, 16px, 20px);
        }
        &__btn {
          @include font(null, 18px, null);
          gap: 16px;
          padding: 8px 85px;
        }
      }
    }
  }
}

@include for-size(tablet-portrait-up) {
  .phone {
    width: 100%;
    .container {
      padding: 0 16px;
      .phone__img {
        display: block;
        position: absolute;
        width: 602px;
        height: 100%;
        right: 0;
        top: -140px;
        padding: 0 16px;
      }
      .phone-form {
        width: 70%;
        padding: 20px;
        margin: 10em 0 80px;
        .title {
          margin-bottom: 40px;
          &__text {
            width: 100%;
          }
        }
        &__group {
          flex-direction: row;
          gap: 4px;
        }
        &__input {
          padding: 10px 16px;
          @include font(null, 16px, 20px);
        }
        &__btn {
          @include font(null, 18px, null);
          gap: 16px;
          padding: 10px 20px;
        }
      }
    }
  }
}

@include for-size(tablet-landscape-up) {
  .phone {
    width: 100%;
    .container {
      padding: 0 16px;
      .phone__img {
        display: block;
        position: absolute;
        width: 755px;
        height: 500px;
        right: 0;
        top: -100px;
        padding: 0 16px;
      }
      .phone-form {
        width: 70%;
        padding: 20px;
        margin: 10em 0 80px;
        .title {
          margin-bottom: 60px;
          &__line {
            padding: 2px 25px;
          }
          &__text {
            width: 100%;
          }
        }
        &__group {
          flex-direction: row;
          gap: 8px;
        }
        &__input {
          padding: 10px 16px;
          @include font(null, 20px, 24px);
        }
        &__btn {
          @include font(null, 25px, null);
          gap: 16px;
          padding: 16px 30px;
        }
      }
    }
  }
}

@include for-size(desktop-up) {}