.title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 3em;
  &__line {
    background-color: $color-primary;
    padding: 2px 35px;
    border-radius: 5px;
  }
  &__text {
    @include font(700, 36px, 40px);
  }
}

@include for-size(phone-only) {
  .title {
    gap: 16px;
    margin-bottom: 2em;
    &__line {
      padding: 2px 20px;
    }
    &__text {
      @include font(null, 20px, 28px);
    }
  }
}
@include for-size(tablet-portrait-up) {
  .title {
    gap: 16px;
    margin-bottom: 2em;
    &__line {
      padding: 2px 20px;
    }
    &__text {
      @include font(null, 24px, 40px);
    }
  }
}