@mixin btn($text-case, $size, $line-height) {
  width: 170px;
  background-color: $color-primary;
  display: inline-flex;
  color: white;
  font-size: $size;
  font-weight: 400;
  line-height: $line-height;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  text-transform: $text-case;
}

@mixin font($weight, $size, $line) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}