@import "reset";

// variables
@import "variables";

// mixins
@import "mixins";

/* style css */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

@import "header";
@import "logo";
@import "nav";

.btn {
  @include btn(center, capitalize)
}

@import "team-unit";
@import "title";

.comments__slide {
  display: flex;
}
.comment {
  width: 300px;
  font-family: initial;
  box-shadow: 0 0 30px rgba(13, 107, 106, 0.1);
  padding: 30px;
  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
    .comment__job {
      color: $color-third;
    }
  }
  &__body {
    .comment__note {
      color: $color-secondary;
      margin: 1em 0;
      line-height: 1.3;
      font-size: 13px;
    }
    .comment-star {
      color: $color-primary;
    }
  }
}