@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); /* rest css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

/* style css */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.logo {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  text-transform: uppercase;
  font-style: normal;
  display: inline-block;
  letter-spacing: 0.08em;
}

.nav {
  display: inline-block;
}
.nav__menu {
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.nav__menu .nav__link {
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.nav__menu .nav__link:hover {
  color: #0D6B6A;
}

@media (max-width: 599px) {
  .nav {
    display: block;
    margin-top: 8px;
    width: 100%;
  }
  .nav__menu {
    flex-direction: column;
    gap: 0;
  }
  .nav__menu .nav__item:hover {
    background-color: rgba(221, 221, 221, 0.2);
  }
  .nav__menu .nav__item:hover .nav__link {
    color: #0D6B6A;
  }
  .nav__menu .nav__link {
    line-height: 40px;
    padding-left: 16px;
  }
}
.btn {
  background-color: #0D6B6A;
  display: inline-flex;
  color: white;
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
}

.header {
  background-image: url("/01/img/bg-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4.75em;
  margin-bottom: 200px;
}
.header__btn-menu {
  display: none;
}
.header .phone-menu {
  display: none;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}
.header .navbar .btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.header__content {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}
.header__content .header__note {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.header__content .header__note .header__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 100px;
  text-transform: capitalize;
}
.header__content .header__note .header__title .header__char-title {
  color: #0D6B6A;
}
.header__content .header__note .header__text {
  color: #666666;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.header__content .header__note .btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  gap: 30px;
  padding-left: 48px;
  padding-right: 48px;
  text-transform: uppercase;
}
.header__content .header__section-img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.header__content .header__section-img:before {
  content: "";
  padding: 6.88em 9.28em;
  background-color: #0D6B6A;
  position: absolute;
  top: -30px;
  left: 87px;
}
.header__content .header__section-img .header__img {
  z-index: 1;
  width: 470px;
  height: 484px;
}

@keyframes open {
  from {
    left: -288px;
  }
  to {
    left: 0;
  }
}
@keyframes close {
  from {
    left: 0;
  }
  to {
    left: -288px;
  }
}
@media (max-width: 599px) {
  .header {
    background-image: none;
    margin-bottom: 2em;
  }
  .header__btn-menu {
    display: flex;
    background-image: url("/01/img/bg-header.svg");
    padding: 8px;
  }
  .header .navbar {
    display: none;
  }
  .header .phone-menu {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.72);
    z-index: 99;
  }
  .header .phone-menu .navbar {
    width: 288px;
    height: 100%;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    left: -288px;
  }
  .header .phone-menu .navbar__btn-menu {
    height: 40px;
  }
  .header .phone-menu .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/01/img/bg-header.svg");
    padding: 6px 6px 16px 6px;
    width: 100%;
  }
  .header .phone-menu .navbar-header .logo {
    font-size: 20px;
    line-height: 24px;
  }
  .header .phone-menu .navbar .btn {
    width: 100%;
    margin-top: auto;
  }
  .header__content {
    flex-direction: column;
    padding: 0 16px;
    margin: 2em auto;
    gap: 30px;
  }
  .header__content .header__note {
    width: 100%;
    gap: 25px;
  }
  .header__content .header__note .header__title {
    font-size: 48px;
    line-height: 50px;
  }
  .header__content .header__note .header__text {
    font-size: 16px;
    line-height: 20px;
  }
  .header__content .header__note .btn {
    font-size: 18px;
    padding: 8px 16px;
    gap: 16px;
  }
  .header__content .header__section-img {
    width: 100%;
  }
  .header__content .header__section-img:before {
    content: "";
    position: absolute;
    top: 15%;
    left: -15px;
    padding: 8em 12em;
  }
  .header__content .header__section-img .header__img {
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}
.team-unit {
  margin-bottom: 200px;
}
.team-unit__content {
  background-color: #0D6B6A;
  color: white;
  display: flex;
}
.team-unit__co-worker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 45px;
  width: 40%;
}
.team-unit__co-worker .team-unit__number {
  background-image: url("/01/img/6.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 172px;
  height: 220px;
}
.team-unit__co-worker .team-unit__text {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}
.team-unit__persons {
  width: 702px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.team-unit__persons .person {
  width: 234px;
  height: 234px;
  position: relative;
}
.team-unit__persons .person__img {
  width: 100%;
}
.team-unit__persons .person__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}
.team-unit__persons .person__job {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.team-unit__persons .person__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 9em 10em 0 1.5em;
  background-color: #0D6B6A;
  opacity: 0;
  transition: all 0.3s ease;
}
.team-unit__persons .person:hover .person__details {
  opacity: 0.6;
}

@media (max-width: 599px) {
  .team-unit {
    margin-bottom: 8em;
    padding: 0 16px;
  }
  .team-unit__content {
    flex-direction: column;
  }
  .team-unit__content .team-unit__co-worker {
    width: 100%;
    padding: 0;
  }
  .team-unit__content .team-unit__co-worker .team-unit__number {
    background-size: contain;
    width: 40%;
    margin: 30px 0 0 30px;
  }
  .team-unit__content .team-unit__co-worker .team-unit__text {
    font-size: 24px;
    padding: 0 16px 30px;
  }
  .team-unit__content .team-unit__persons {
    width: 100%;
    justify-content: flex-start;
  }
  .team-unit__content .team-unit__persons .person {
    width: 50%;
    height: 170px;
  }
  .team-unit__content .team-unit__persons .person__details {
    padding: 6em 4em 0 1em;
  }
  .team-unit__content .team-unit__persons .person__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
  }
  .team-unit__content .team-unit__persons .person__job {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
}
.title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 3em;
}
.title__line {
  background-color: #0D6B6A;
  padding: 2px 35px;
  border-radius: 5px;
}
.title__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

@media (max-width: 599px) {
  .title {
    gap: 16px;
    margin-bottom: 2em;
  }
  .title__line {
    padding: 2px 20px;
  }
  .title__text {
    font-size: 20px;
    line-height: 28px;
  }
}
.comments {
  overflow: hidden;
  margin-bottom: 200px;
}
.comments__button-slider {
  width: 44px;
  height: 44px;
  border-radius: unset;
  border: none;
  background-color: #DDDDDD;
}
.comments__button-slider--active {
  background-color: #0D6B6A;
  color: white;
}
.comments .dot {
  margin-left: auto;
  width: auto;
}
.comments .dot__list {
  display: flex;
  font-size: 20px;
  gap: 20px;
  color: #DDDDDD;
}
.comments .dot__list .dot__item--active {
  color: #0D6B6A;
}
.comments .dot .swiper-pagination-bullet-active {
  background: #0D6B6A;
}
.comments .comments__slider {
  display: flex;
  width: 1570px;
  margin-bottom: 60px;
}
.comments .comments__slider .comment {
  width: 23.57%;
  box-shadow: 0 0 30px rgba(13, 107, 106, 0.1);
  padding: 40px;
}
.comments .comments__slider .comment__header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.comments .comments__slider .comment__header .comment__user {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 3px;
}
.comments .comments__slider .comment__header .comment__job {
  color: #AAAAAA;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.comments .comments__slider .comment__body .comment__note {
  color: #666666;
  margin: 1em 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.comments .comments__slider .comment__body .comment-star {
  color: #0D6B6A;
}

@media (max-width: 599px) {
  .comments {
    padding: 0 16px;
    margin-bottom: 8em;
  }
  .comments .dot {
    display: none;
  }
  .comments .comments__slider {
    margin-bottom: 40px;
  }
  .comments .comments__buttons-slider {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
.work-process {
  background-image: url("/01/img/bg-work-process.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1490px;
  padding: 90px 0;
}
.work-process .process-line {
  border: none;
  background: #DDDDDD;
  height: 2px;
  margin-top: 40px;
  position: relative;
  top: 98px;
}
.work-process .process-line--none {
  display: none;
}
.work-process .work-process__process {
  display: flex;
  justify-content: space-between;
}
.work-process__process .process__titr {
  width: 340px;
  display: flex;
  align-items: center;
}
.work-process__process .process__titr .process__text {
  width: 170px;
}
.work-process__process .process__titr .process__text--size-low {
  width: 140px;
}
.work-process__process .process__number {
  font-weight: 700;
  font-size: 52px;
  line-height: 28px;
  color: #DDDDDD;
  position: relative;
  right: 30px;
}
.work-process__process .process__number--right-size {
  right: 80px;
}
.work-process__process .process__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  z-index: 1;
}
.work-process__process .process__line {
  border: none;
  background: #DDDDDD;
  height: 2px;
  margin-top: 40px;
}
.work-process__process .process__items {
  width: 340px;
}
.work-process__process .process__items .process__item {
  margin-top: 40px;
}
.work-process__process .process__items .process__header-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.work-process__process .process__items .process__header-item .process__title {
  width: 150px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.work-process__process .process__items .process__header-item .process__title--width-size {
  width: 227px;
}
.work-process__process .process .process__options {
  list-style-type: none;
  border-left: 2px solid #DDDDDD;
  margin-left: 10px;
  padding-left: 30px;
  padding-top: 20px;
}
.work-process__process .process .process__options .process__option {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  padding-bottom: 20px;
}

@media (max-width: 599px) {
  .work-process {
    height: 100%;
    padding: 0 0 148px;
  }
  .work-process .container {
    padding: 0 16px;
  }
  .work-process .container .process-line {
    display: none;
  }
  .work-process .container .work-process__process {
    flex-direction: column;
    gap: 40px;
  }
}
.phone .container {
  position: relative;
}
.phone .container .phone__img {
  position: absolute;
  right: 0;
  top: -230px;
}

.phone-form {
  width: 74%;
  display: inline-block;
  padding: 60px;
  padding-bottom: 80px;
  box-shadow: -10px 10px 50px rgba(13, 107, 106, 0.08);
  background-color: white;
  z-index: 1;
  position: relative;
  margin: 4.7em 0 200px;
}
.phone-form .title {
  margin-bottom: 6em;
}
.phone-form .title__text {
  width: 530px;
  position: relative;
  top: 20px;
}
.phone-form__group {
  display: flex;
  gap: 4px;
}
.phone-form__input {
  flex-grow: 1;
  border: 1px solid #DDDDDD;
  border-radius: unset;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.phone-form__input::placeholder {
  color: #AAAAAA;
}
.phone-form__input:focus {
  outline: none;
}
.phone-form__btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  gap: 30px;
  padding: 16px 33px;
}

@media (max-width: 599px) {
  .phone {
    width: 100%;
  }
  .phone .container {
    padding: 0 16px;
  }
  .phone .container .phone__img {
    display: block;
    position: absolute;
    width: 100%;
    right: 0;
    top: -100px;
    padding: 0 16px;
  }
  .phone .container .phone-form {
    width: 100%;
    padding: 20px;
    margin: 10em 0 80px;
  }
  .phone .container .phone-form .title {
    margin-bottom: 40px;
  }
  .phone .container .phone-form .title__text {
    width: 100%;
  }
  .phone .container .phone-form__group {
    flex-direction: column;
    gap: 16px;
  }
  .phone .container .phone-form__input {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 20px;
  }
  .phone .container .phone-form__btn {
    font-size: 18px;
    gap: 16px;
    padding: 8px 85px;
  }
}
.footer {
  background-color: #0D6B6A;
  padding: 50px 0 70px;
  color: white;
}
.footer .line {
  height: 280px;
  background-image: url("/01/img/line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  padding-top: 50px;
}
.footer .line .footer__note {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  width: 770px;
  text-align: center;
  color: #DDDDDD;
  margin: 30px auto 50px;
}
.footer .line .social-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer .line .social-icons__img {
  height: 48px;
}
.footer .nav {
  margin: 40px 0 70px;
}
.footer .nav .nav__link {
  color: white;
}
.footer .nav .nav__link:hover {
  color: #AAAAAA;
}
.footer .info, .footer .info .cantact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .info .cantact {
  width: 570px;
}
.footer .info .cantact__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #DDDDDD;
  display: block;
  margin-bottom: 4px;
}
.footer .info .cantact__type {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}
.footer .info .cantact .call {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .info .copy-right {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #DDDDDD;
}

@media (max-width: 599px) {
  .footer {
    padding: 20px 0 40px;
  }
  .footer .line-small {
    background-image: url("/01/img/line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4em 0 0;
  }
  .footer .line .footer__note {
    width: 100%;
    margin: 24px auto 32px;
    padding: 0 16px;
  }
  .footer .nav {
    margin: 2em 0 30px;
  }
  .footer .nav__menu {
    gap: 20px;
    align-items: center;
  }
  .footer .nav__menu .nav__link {
    padding: 0;
  }
  .footer .info, .footer .info .cantact {
    flex-direction: column;
    gap: 40px;
  }
  .footer .info .cantact {
    flex-direction: column;
  }
  .footer .info .cantact .call {
    flex-direction: column;
    gap: 10px;
  }
  .footer .info .cantact__details {
    text-align: center;
  }
  .footer .info .copy-right {
    margin: 40px auto;
  }
}

/*# sourceMappingURL=style.css.map */
